* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace; 
}

html,body{
height: 100%;
display:flex;
flex-direction: column;
background-color: rgb(247, 247, 247);
}



header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:20px;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 20px rgb(252, 252, 255);
}


.top-nav{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  width: 100%;
}

.ul-nav{
  display: flex;
  list-style: none;
  justify-content: center; 
  padding: 0;
  gap: 30px; 

}

.li_header {
  margin: 0; 
}

.restaurant_name{
  font-size: 20px;
  font-weight: bold;
  text-align: center; 
  margin-bottom: 10px; 
}
.nav-link{
 font-size:15px;
 font-weight: bold;

}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
  background-color: black;
  box-shadow: 0 0 0 20px rgb(0, 0, 0);
  position: relative;
}

.footer_text{
 font-size:15px;
 color:white;

}



