* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace; /* Default font */
}

body{
height:100vh;
display:flex;
flex-direction: column;
background-color: rgb(247, 247, 247);
}


.main{
height:100vh;
padding-top: 10px;
display:flex;
flex-direction: column;

 text-align: center;
}

.photo{
 


 margin-top:1%;

}
.food_img{
  width: 20%; height: auto;
 }

 .list_menu{
    display:flex;
    list-style: none;
    justify-content: center;
    gap:30px;

 }
 .container_buttons{
  margin-top: 2%;
 }

 .btn_menu{
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  border: none;
  background: none;
 }

 .allergi{
  margin:5%;

 }

 .title{
  font-size: 1.5em;
  margin:1%;
  border-bottom:2px solid black;
 }